* {
    overflow:auto;
}

html, body {
    margin: 0px;
    background-color: rgba(0, 0, 0, 0.449);
}

a, a:visited {
    text-decoration: none;
    color: black;
}

#root {
    max-width: 900px;
    margin: 0 auto;
}

.App {
    /* display: grid;
    grid-template-columns: 100px 1fr 100px;
    grid-template-rows: repeat(3, auto);
    justify-content: center; */
    /* display: flex;
    flex-direction: column;
    
    /* justify-content: center; */
    background-color: rgb(37, 217, 156);
    width: auto;
}

.Header {
    background-color: rgb(98, 110, 106);
    padding-top: 5px;
}

.TitleContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.TitleContainer > a > h1 {
    margin-left: 20px;
}

.TitleContainer > a > img {
    height: 60px;
    width: auto;
    margin-right: 20px;
    margin-left: auto;
}

.HeaderLinks {
    display: flex;
    
    flex-direction: row;
    /* display: grid;
    grid-template-columns: repeat(4, 1fr); */
    
}

.HeaderLink, .HeaderLink:visited {
  background-color: rgb(33, 176, 128);
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;

  flex-grow: 1;
  flex-shrink: 1;

  transition: background-color 0.2s ease-in-out;
}

.HeaderLink:hover, .HeaderLink:active {
    background-color: rgb(37, 217, 156);
}

.Home {
    /* grid-column: 2/3;
    grid-row: 2/3; */
    
    /* padding: 0px 10px; */
}

.Home > h2 {
    text-align: center;
    margin: 15px 0 0 0;
}

.Introduction {
    max-width: 600px;
    margin: 0 auto;
}

.Introduction > h2 {
    text-align: center;
}

.Introduction > img {
    /* max-width: 600px;
    margin: 0 auto; */
    /* display: flex; */
    float: right;
    height: auto;
    max-width: 120px;
    transform: scaleX(-1);
}

.ProjectSample {
    
    padding: 90px 0 100px 0;
}

.ProjectSample > .ProjectTitleLink {
    display: flex;
    flex-direction: row;
    justify-content: center;
} 

.ProjectSample > .ProjectTitleLink > a > img {
    height: auto;
    max-width: 350px;  
}
 
.ProjectSample > .ProjectFlexContainer {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
    padding: 0 10px 20px 10px;
    /* flex-wrap: wrap; */
}

.ProjectSample > div > p {
    flex: 1 2 55%;
    font-size: 1.1em;
    margin-right: 10px;

    padding: 10px; 
    border-radius: 25px;
    box-shadow: 3px 8px 5px rgba(0, 0, 0, 0.6);
    border: 3px solid black;
}
.ProjectSample > div > iframe {
    flex: 2 1 45%;
    /* max-width:560px; 
    max-height:315px;
    */
    min-height: 225px;
    border: 3px solid;
    border-radius: 25px;
    box-shadow: 3px 8px 5px rgba(0, 0, 0, 0.6);
    /* align-self: stretch; */
}

.ProjectSample > div > img {
    flex: 2 1 45%;
    height: auto;
    border: 3px solid;
    border-radius: 25px;
    box-shadow: 3px 8px 5px rgba(0, 0, 0, 0.6);
}

#GunsOfWreckage {
    /* background-color: darkred; */
    background-image: linear-gradient(rgb(37, 217, 156),rgb(204, 14, 40, 0.2),rgb(204, 14, 40, 0.6),rgb(204, 14, 40, 0.8),rgb(204, 14, 40, 0.8), rgb(204, 14, 40));
}
#GunsOfWreckage > div > iframe {
    border-color: rgb(168, 10, 32);
}
#GunsOfWreckage > div > p {
    background-color: rgb(245, 82, 104);
    border: 3px solid  rgb(168, 10, 32); 
}
#GunsOfWreckageBackground {
    background-image: url(../../images/cityconcept.png);
    background-size: auto;
    background-position: left bottom;
}

#NurseVR {
    /* background-color: cadetblue; */
    background-image: linear-gradient(rgb(204, 14, 40),rgb(21, 168, 176, 0.2),rgb(21, 168, 176, 0.6),rgb(21, 168, 176, 0.8),rgb(21, 168, 176, 0.8), rgb(21, 168, 176));
    padding-top: 150px;
}
#NurseVR > .ProjectTitleLink {
    margin: 40px 0;
}
#NurseVR > div > p {
    margin-left: 10px;
    margin-right: 0px;
    order: 2;
}
#NurseVR > div > iframe {
    border-color:blue;
    order: 1;
}
#NurseVRBackground {
    background-image: url(../../images/vrstock.jpg);
    background-position: center;
}

#Moonstruck {
    background-color: darkslategray;
}

.Footer {
    background-color:  rgb(98, 110, 106);
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.Footer > div {
    margin-left: 20px;
}

.Footer > div > h4 {
    margin: 20px 0px 0px 0px;

}

.Footer > div > p {
    margin: 0px;
}

.Footer > img {
    height: auto;
    width: 80px;
    transform: scaleX(-1);
}

